@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

.wrapper{
    background-color: #191c32;
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: #fff;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    padding: 1.5em;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
}

.menu .active{
    color:  #fff;
}

.menu a:hover{
    background-color: #7578D1;
    transition: ease-in .5s;
    border-radius: 5px;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}

.main{
    margin: 0 auto;
    width: 60vw;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1{
    font-size: 2em;
}

span{
    color: #7578D1;
}

.info-content p {
    text-align: justify;
    padding: 20px;
}

.download-cv{
    padding: 10px 20px;
    background-color: #7578D1;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102,231,200,.69);
}

.download-cv:hover{
    background-color: #32C4CB;
    box-shadow: none;
}

.main img{
    width: 250px;
    border: 7px solid  #7578D1;
    height: 320px;
    border-radius: 100px;
}

.about{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
}

/* Estilo inicial de la sección "dashbords" */

.dashboard {
    width: 100%;
    height: auto;
    padding: 0 10px 30px 0px;
    background-color: #191c32;
}

.dashboard .container{
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}


.carddash {
    width: calc(33.33% - 10px);
    margin-bottom: 10px; 
    margin-right: 10px; 
    padding: 10px;
    border-radius: 10px; 
    background-color: #323359;
    display: flex; 
    flex-direction: column;
}

.dascontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around; 
    
}

/* Estilo inicial de la sección "proyectos" */
.portfolio {
    width: 100%;
    height: 100%; /* 100% de la altura del viewport */
    padding: 0 10px 30px 0px;
    background-image: url(img/fondos-para-páginas-web-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.portfolio-headings{
    width: 100vw;
    padding: 2em;
}

.portfolio-headings h2{
    font-size: 2.5em;
    color:#fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.portfolio .container{
    width: 90vw;
    height: 130vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #33333300;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.card {
    width: calc(33.33% - 10px);
    margin-bottom: 10px; 
    margin-right: 10px; 
    padding: 10px;
    border-radius: 10px; 
    background-color: rgba(161, 159, 159, 0.692);
    display: flex; 
    flex-direction: column;
}

.header-car{
    display: flex;
    padding: 5px;
    justify-content:space-between;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.card-hover {
    position: relative;
    overflow: hidden;
}

.image-container {
    position: relative;
}

.imag {
    width: 100%; 
    height: 30vh; 
    object-fit: cover;
    border-radius: 10px; 
    filter: grayscale(25%); 
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(5, 5, 5, 0.811);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .hover {
    opacity: 1;
}


/* Estilos para los iconos de tecnologías */
.materia-icons {
    color:#fff;
    font-size: 50px;
    margin: 0 10px;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    z-index: 1; /* íconos estén en un nivel superior que el fondo */
}


h3, p{
    color: white;
    text-align: center;
}


.icono i{
    color: white;
    font-size: 30px;
}

/*---------------fin trabajos-----------------------*/

/*skills*/

.section-4 .container{
    position: relative;
    background-color: #191c32;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; 
    padding: 20px;
}


.skills-headings{
    font-size: 2em;
    padding: 5px;
    color: #7578D1;
    text-align: center;
    background-color: #191c32;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    width: 100%;
    list-style: none;
    border-radius: 10px;
}

.skills li {
    transition: transform 0.9s ease; 
}

.skills li img {
    filter: grayscale(100%); 
}

.skills li:hover img {
    transform: scale(3.1);
    filter: none; /* Eliminamos el filtro de escala de grises para mostrar la imagen a color */
}

/*---------------contacto-----------------------*/
.contenedor-formulario {
    position: relative;
    background-image: url(img/fondos-para-páginas-web-6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5em;
    background-color: rgba(133, 131, 131, 0.388);
    color:#fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.form-header {
    text-align: center;
}

.form-header h1 {
    font-size: 30px;
    color: #7578D1;
  }

  .form-header p{
    color:#fff;
  }

/*Inicio formulario*/
.formulario {
    background-color: rgba(161, 159, 159, 0.689);
    border: 1px solid #d6d9dc;
    border-radius: 10px;
    width: 80%;
    padding: 30px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"]  {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 3px;
    text-align: initial;
}

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
    width: 100%;
}

.form-row button {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(84, 84, 84);
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color:#191c32;
}
  
.form-row button:active {
    background-color: rgb(227, 171, 180);
}

/*fin de formulario*/


/*-------------footer--------------------------*/

footer {
    position: relative;
    background-color: #191c32;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 1em;
    padding: 5px;
    list-style: none;
}

ul li a{
    font-size: 30px;
    color: white;
}

.copyrite{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    gap: 1em;
    color: white;
    padding: 5px;
}


/* Media Query para pantallas de hasta 768px */
@media screen and (max-width: 768px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .abrir-menu {
        background-color:#191c32;
        color:#7578D1;
        border-radius: 4px;
        position: absolute;
        padding: 10px;
        top: 0;
        right: 0;
        margin: 20px;
    }

    .navbar {
        display: none;
        gap: 1rem;
        position: absolute;
        top: 60px;
        right: 0; /* Alinea el menú a la derecha */
        background-color: rgba(57, 57, 57, 0.916);
        padding: 3rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        width: 100%; /* Establecer un ancho máximo */
        height: 100%; /* Ajusta la altura automáticamente */
        justify-content: flex-end; /* Alinea los elementos a la derecha */
        align-items: center;
        text-align: right; /* Alinea el texto a la derecha */
    }

    .cerrar-menu{
        background-color:#191c32;
        color:#fff;
        border-radius: 4px;
        padding: 10px;
        margin: 10px;
    }

    .navbar.visible {
        display: block;
    }

    .menu {
        display: flex; /* Agregar display: flex */
        flex-direction: column; /* Establecer dirección de columna */
        gap: 1rem;
    }

    .menu li a {
        color: white;
        border-radius: 5px; /* Agregar borde redondeado */
    }
   
    .main {
        width: 90%; /* Reducir el ancho del contenedor principal */
        height: auto; /* Hacer que la altura sea automática para adaptarse al contenido */
        border: 10px;
        grid-template-columns: 1fr; /* Cambiar la disposición de las columnas a una sola columna */
        text-align: center; /* Centrar el contenido dentro del contenedor */
    }

    .main .info-content{
        padding: 15px;
    }

    .main img {
        max-width: 40%; /* Establecer un ancho máximo para la imagen */
        height: 75%; /* Hacer que la altura se ajuste automáticamente al ancho */
        border-radius: 90px;
        display: block; /* Asegurar que la imagen esté centrada */
        margin: 0 auto; /* Centrar horizontalmente la imagen */
        border: 4px solid #7578d1;
    }

    .portfolio-headings {
        padding: 1em; /* Reduce el relleno de los encabezados */
    }

    .portfolio-headings h2 {
        font-size: 1.8em; /* Reducir el tamaño del encabezado */
    }

    .portfolio .container {
        width: 100%; /* Hace que el contenedor ocupe todo el ancho disponible */
        height: auto;
        padding: 1em; /* Agrega un poco de relleno al contenedor */
    }

    .card {
        width: calc(70% - 10px); /* Reducir el ancho de las tarjetas */
    }

    .skills-headings h2{
        font-size: 1em;
    }

    .skills {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: center; /* Centra los elementos horizontalmente */
        padding: 1rem; /* Reduce el relleno */
    }

    .skills li {
        margin-bottom: 1rem; /* Añade espacio entre las habilidades */
    }
    .skills li:hover img {
        transform: scale(1.1);
    }

    footer {
        height: 17%;
        font-size: 0.7em;
        padding: 12px;
    }

    ul li a {
        font-size: 1.5em;
    }
}





